<br>
<center><img src= "Images\Capture.PNG" width="700" height="350"></center><br><br>

<center><h4><p style="color:#FFFFFF";>**** üëÆ US POLICE SHOOTING üëÆ‚Äç ****
</p><h4></center>

<center><h3><p style="color:#139C77";>**** Importation des modules n√©cessaires ****</p></h3></center>

In [356]:
import matplotlib.pyplot as plt
import pandas as pd
import sweetviz as sv
import pyodbc
import numpy as np

from secret import database, server, username, password, cnxn

<center><h3><p style="color:#D06AB9">**** Lecture et preview des fichiers bruts ****</p></h3></center>

<p style="color:#139C77";><u>Fichier</u> : fatal-police-shootings-data.csv</p>

In [357]:
df_brut_fatal = pd.read_csv("fatal-police-shootings-data.csv")
analyze_df_brut_fatal = sv.analyze(df_brut_fatal)
# df_brut_fatal-police-shootings-data.show_notebook()        # Pour visionner dans le notebook m√™me
#analyze_df_brut_fatal.show_html()              # Pour visionner sur un navigateur

Done! Use 'show' commands to display/save.   |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| [100%]   00:01 -> (00:00 left)

<p style="color:#139C77";>Study Data</p>

In [358]:
df_brut_fatal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7504 entries, 0 to 7503
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       7504 non-null   int64
 1   name                     7118 non-null   object
 2   date                     7504 non-null   object
 3   manner_of_death          7504 non-null   object
 4   armed                    7295 non-null   object
 5   age                      7057 non-null   float64
 6   gender                   7485 non-null   object
 7   race                     6122 non-null   object
 8   city                     7504 non-null   object
 9   state                    7504 non-null   object
 10  signs_of_mental_illness  7504 non-null   bool
 11  threat_level             7504 non-null   object
 12  flee                     6741 non-null   object
 13  body_camera              7504 non-null   bool
 14  longitude                6792 non-null   float64
 15  latitude                 6792 non-null   float64
 16  is_geocoding_exact       7504 non-null   bool
dtypes: bool(3), float64(3), int64(1), object(10)
memory usage: 842.9+ KB

<p style="color:#D06AB9";>We can already observe that there're 4 types of data</p>

<p style="color:#139C77";><u>Fichier</u> : uscities.csv</p>

In [359]:
df_brut_uscities = pd.read_csv("uscities.csv")
analyse_df_brut_uscities = sv.analyze(df_brut_uscities)
# analyse_df_brut_2.show_notebook()     
#analyse_df_brut_uscities.show_html()

Done! Use 'show' commands to display/save.   |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| [100%]   00:01 -> (00:00 left)

In [360]:
df_brut_uscities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28889 entries, 0 to 28888
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   city             28889 non-null  object
 1   city_ascii       28889 non-null  object
 2   state_id         28889 non-null  object
 3   state_name       28889 non-null  object
 4   county_fips      28889 non-null  int64
 5   county_name      28889 non-null  object
 6   county_fips_all  28889 non-null  object
 7   county_name_all  28889 non-null  object
 8   lat              28889 non-null  float64
 9   lng              28889 non-null  float64
 10  population       28889 non-null  float64
 11  density          28889 non-null  float64
 12  source           28889 non-null  object
 13  military         28889 non-null  bool
 14  incorporated     28889 non-null  bool
 15  timezone         28889 non-null  object
 16  ranking          28889 non-null  int64
 17  zips             28888 non-null  object
 18  id               28889 non-null  int64
dtypes: bool(2), float64(4), int64(3), object(10)
memory usage: 3.8+ MB

<p style="color:#D06AB9";>We can already observe that there're 4 types of data</p>

<p style="color:#139C77";><u>Fichier</u> : Ethnicity Data USA.xlsx</p>

In [361]:
df_brut_Ethnicity = pd.read_excel("Ethnicity Data USA.xlsx")
analyse_df_brut_Ethnicity = sv.analyze(df_brut_Ethnicity)
# analyse_df_brut_3.show_notebook()
#analyse_df_brut_Ethnicity.show_html()

Done! Use 'show' commands to display/save.   |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| [100%]   00:00 -> (00:00 left)

In [362]:
df_brut_Ethnicity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   State             51 non-null     object
 1   Total population  51 non-null     int64
 2   White             51 non-null     int64
 3   Black             51 non-null     int64
 4   Hispanic          51 non-null     int64
 5   Asian             51 non-null     int64
 6   American Indian   51 non-null     int64
dtypes: int64(6), object(1)
memory usage: 2.9+ KB

<p style="color:#D06AB9">We can already observe that there're 2 types of data</p>

<p style="color:#139C77";>Passage on SQL to realize the database and on SSIS to build the 3 tables.</p>

<center><h3><p style="color:#139C77";>**** Connexion SQL ****</p></h3></center>

<center><h3><p style="color:#139C77";> Fichier "Fatal_Police_Shooting"</p></h3></center>

<p style="color:#D06AB9">Let's display the first lines to get an overview </p>

In [363]:
df_fatal = pd.read_sql("SELECT * FROM [Fatal_Police_Shooting]", cnxn)
df_fatal.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,longitude,latitude,is_geocoding_exact
0,3,Tim Elliot,2015-01-02,shot,gun,53,M,A,Shelton,WA,True,attack,Not fleeing,False,-123.122,47.247,True
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47,M,W,Aloha,OR,False,attack,Not fleeing,False,-122.892,45.487,True
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23,M,H,Wichita,KS,False,other,Not fleeing,False,-97.281,37.695,True
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32,M,W,San Francisco,CA,True,attack,Not fleeing,False,-122.422,37.763,True
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39,M,H,Evans,CO,False,attack,Not fleeing,False,-104.692,40.384,True

<p style="color:#D06AB9"> Realize a .info() to get a concise summary of the data frame </p>

In [364]:
df_fatal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7504 entries, 0 to 7503
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       7504 non-null   object
 1   name                     7118 non-null   object
 2   date                     7504 non-null   object
 3   manner_of_death          7504 non-null   object
 4   armed                    7295 non-null   object
 5   age                      7057 non-null   object
 6   gender                   7485 non-null   object
 7   race                     6122 non-null   object
 8   city                     7504 non-null   object
 9   state                    7504 non-null   object
 10  signs_of_mental_illness  7504 non-null   object
 11  threat_level             7504 non-null   object
 12  flee                     6742 non-null   object
 13  body_camera              7503 non-null   object
 14  longitude                6794 non-null   object
 15  latitude                 6792 non-null   object
 16  is_geocoding_exact       7504 non-null   object
dtypes: object(17)
memory usage: 996.8+ KB

<p style="color:#D06AB9"> Let's use describe() to display some basic statistical details. </p>

In [365]:
df_fatal.describe(include='all')

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,longitude,latitude,is_geocoding_exact
count,7504,7118,7504,7504,7295,7057,7485,6122,7504,7504,7504,7504,6742,7503,6794,6792,7504
unique,7504,7086,2548,11,104,86,12,7,3105,61,12,5,6,5,5945,5277,11
top,3,Michael Johnson,2018-02-01,shot,gun,31,M,W,Los Angeles,CA,False,attack,Not fleeing,False,-112.152,33.495,True
freq,1,3,9,7157,4272,245,7136,3122,116,1086,5891,4755,4279,6432,6,11,7476

<p style="color:#D06AB9"> Let's check if there are any nulls </p>

In [366]:
df_fatal.isnull().sum().sum()

4628

<p style="color:#D06AB9"> Replacement of missing persons by "undetermined".</p>

In [367]:
df_fatal = df_fatal.replace(np.nan, "undetermined")
df_fatal

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,longitude,latitude,is_geocoding_exact
0,3,Tim Elliot,2015-01-02,shot,gun,53,M,A,Shelton,WA,True,attack,Not fleeing,False,-123.122,47.247,True
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47,M,W,Aloha,OR,False,attack,Not fleeing,False,-122.892,45.487,True
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23,M,H,Wichita,KS,False,other,Not fleeing,False,-97.281,37.695,True
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32,M,W,San Francisco,CA,True,attack,Not fleeing,False,-122.422,37.763,True
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39,M,H,Evans,CO,False,attack,Not fleeing,False,-104.692,40.384,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7499,8173,Peter Pfister,2022-06-21,shot,undetermined,27,M,undetermined,Blue Hill,ME,False,undetermined,undetermined,False,-68.512,44.416,True
7500,8174,undetermined,2022-06-22,shot,gun,undetermined,M,undetermined,San Jose,CA,False,attack,undetermined,False,-121.805,37.262,True
7501,8175,Jason Dodds,2022-06-22,shot,gun,42,M,undetermined,Albion,MI,True,other,Foot,True,-84.756,42.25,True
7502,8176,Keith Carrol,2022-06-23,shot,gun,59,M,undetermined,Jackson Township,PA,True,other,undetermined,False,-75.365,41.002,True
7503,8177,Steven Ray Johnson,2022-06-23,shot,knife,46,M,undetermined,Salisbury,NC,False,other,undetermined,False,-80.474,35.671,True

In [380]:
df_fatal.isnull().sum().sum()

0

<p style="color:#D06AB9">I decide to delete the column "is_geocoding_exact". </p>

In [368]:
df_fatal = df_fatal.drop(columns=["is_geocoding_exact", "body_camera"])
df_fatal

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,longitude,latitude
0,3,Tim Elliot,2015-01-02,shot,gun,53,M,A,Shelton,WA,True,attack,Not fleeing,-123.122,47.247
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47,M,W,Aloha,OR,False,attack,Not fleeing,-122.892,45.487
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23,M,H,Wichita,KS,False,other,Not fleeing,-97.281,37.695
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32,M,W,San Francisco,CA,True,attack,Not fleeing,-122.422,37.763
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39,M,H,Evans,CO,False,attack,Not fleeing,-104.692,40.384
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7499,8173,Peter Pfister,2022-06-21,shot,undetermined,27,M,undetermined,Blue Hill,ME,False,undetermined,undetermined,-68.512,44.416
7500,8174,undetermined,2022-06-22,shot,gun,undetermined,M,undetermined,San Jose,CA,False,attack,undetermined,-121.805,37.262
7501,8175,Jason Dodds,2022-06-22,shot,gun,42,M,undetermined,Albion,MI,True,other,Foot,-84.756,42.25
7502,8176,Keith Carrol,2022-06-23,shot,gun,59,M,undetermined,Jackson Township,PA,True,other,undetermined,-75.365,41.002
7503,8177,Steven Ray Johnson,2022-06-23,shot,knife,46,M,undetermined,Salisbury,NC,False,other,undetermined,-80.474,35.671

<p style="color:#D06AB9">I check the number of differences in the circumstances of the murders and i will add columns for the different circumstances of the murders. </p>

In [369]:
display(df_fatal["flee"].unique())

array(['Not fleeing', 'Car', 'Foot', 'Other', 'undetermined', 'other',
       'attack'], dtype=object)

In [370]:
df_fatal.flee[df_fatal["flee"] == '']

Series([], Name: flee, dtype: object)

In [371]:
# df_fatal['not_Fleeing'] = df_fatal.apply(df_fatal['flee'] == 'Not fleeing') 
# df_fatal

<center><h3><p style="color:#139C77";> Fichier "us_cities"</p></h3></center>

In [372]:
df_us_cities = pd.read_sql("SELECT * FROM [us_cities]", cnxn)
df_us_cities.head()

,city,city_ascii,state_id,state_name,county_fips,county_name,county_fips_all,county_name_all,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,South Creek,South Creek,WA,Washington,53053,Pierce,53053,Pierce,46.9994,-122.3921,2500,125,polygon,FALSE,TRUE,America/Los_Angeles,3,98580 98387 98338,1840042075
1,Roslyn,Roslyn,WA,Washington,53037,Kittitas,53037,Kittitas,47.2507,-121.0989,947,84,polygon,FALSE,TRUE,America/Los_Angeles,3,98941 98068 98925,1840019842
2,Sprague,Sprague,WA,Washington,53043,Lincoln,53043,Lincoln,47.3048,-117.9713,441,163,polygon,FALSE,TRUE,America/Los_Angeles,3,99032,1840021107
3,Gig Harbor,Gig Harbor,WA,Washington,53053,Pierce,53053,Pierce,47.3352,-122.5968,9507,622,polygon,FALSE,TRUE,America/Los_Angeles,3,98332 98335,1840019855
4,Lake Cassidy,Lake Cassidy,WA,Washington,53061,Snohomish,53061,Snohomish,48.0639,-122.0920,3591,131,polygon,FALSE,TRUE,America/Los_Angeles,3,98223 98258 98270,1840041959

In [373]:
df_us_cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28889 entries, 0 to 28888
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   city             28889 non-null  object
 1   city_ascii       28889 non-null  object
 2   state_id         28889 non-null  object
 3   state_name       28889 non-null  object
 4   county_fips      28889 non-null  object
 5   county_name      28889 non-null  object
 6   county_fips_all  28889 non-null  object
 7   county_name_all  28889 non-null  object
 8   lat              28889 non-null  object
 9   lng              28889 non-null  object
 10  population       28889 non-null  object
 11  density          28889 non-null  object
 12  source           28889 non-null  object
 13  military         28889 non-null  object
 14  incorporated     28889 non-null  object
 15  timezone         28889 non-null  object
 16  ranking          28889 non-null  object
 17  zips             28888 non-null  object
 18  id               28889 non-null  object
dtypes: object(19)
memory usage: 4.2+ MB

In [374]:
df_us_cities.describe(include='all')

,city,city_ascii,state_id,state_name,county_fips,county_name,county_fips_all,county_name_all,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
count,28889,28889,28889,28889,28889,28889,28889,28889,28889,28889,28889,28889,28889,28889,28889,28889,28889,28888,28889
unique,19387,19382,52,52,3209,1906,4031,2728,26585,27843,10821,2758,2,2,2,38,3,24287,28889
top,Franklin,Franklin,PA,Pennsylvania,36103,Jefferson,36103,Jefferson,40.8076,-97.0798,0,0,polygon,FALSE,TRUE,America/Chicago,3,78582,1840042075
freq,28,28,1728,1728,146,400,146,386,4,3,216,317,28886,28802,20599,11925,27395,72,1

In [375]:
df_us_cities.isnull().sum().sum()

1

In [382]:
df_us_cities = df_us_cities.replace(np.nan, "undetermined")
df_us_cities

,city,county_fips,lat,lng,population,density,timezone,zips,id
0,South Creek,53053,46.9994,-122.3921,2500,125,America/Los_Angeles,98580 98387 98338,1840042075
1,Roslyn,53037,47.2507,-121.0989,947,84,America/Los_Angeles,98941 98068 98925,1840019842
2,Sprague,53043,47.3048,-117.9713,441,163,America/Los_Angeles,99032,1840021107
3,Gig Harbor,53053,47.3352,-122.5968,9507,622,America/Los_Angeles,98332 98335,1840019855
4,Lake Cassidy,53061,48.0639,-122.0920,3591,131,America/Los_Angeles,98223 98258 98270,1840041959
...,...,...,...,...,...,...,...,...,...
28884,Montrose,46087,43.7002,-97.1843,442,414,America/Chicago,57048,1840002659
28885,Spearfish,46081,44.4912,-103.8167,12675.0,272,America/Denver,57783 57799,1840002374
28886,Emery,46061,43.6020,-97.6195,455,384,America/Chicago,57332,1840002644
28887,Watertown,46029,44.9094,-97.1532,21837.0,475,America/Chicago,57201,1840002156
28888,Buffalo,46063,45.5864,-103.5434,346,241,America/Denver,57720,1840002018

In [383]:
df_us_cities.isnull().sum().sum()

0

In [376]:
df_us_cities = df_us_cities.drop(columns=["military", "incorporated", "source", "ranking", "city_ascii", "state_id", "state_name", "county_name_all", "county_name", "county_fips_all"])
df_us_cities

,city,county_fips,lat,lng,population,density,timezone,zips,id
0,South Creek,53053,46.9994,-122.3921,2500,125,America/Los_Angeles,98580 98387 98338,1840042075
1,Roslyn,53037,47.2507,-121.0989,947,84,America/Los_Angeles,98941 98068 98925,1840019842
2,Sprague,53043,47.3048,-117.9713,441,163,America/Los_Angeles,99032,1840021107
3,Gig Harbor,53053,47.3352,-122.5968,9507,622,America/Los_Angeles,98332 98335,1840019855
4,Lake Cassidy,53061,48.0639,-122.0920,3591,131,America/Los_Angeles,98223 98258 98270,1840041959
...,...,...,...,...,...,...,...,...,...
28884,Montrose,46087,43.7002,-97.1843,442,414,America/Chicago,57048,1840002659
28885,Spearfish,46081,44.4912,-103.8167,12675.0,272,America/Denver,57783 57799,1840002374
28886,Emery,46061,43.6020,-97.6195,455,384,America/Chicago,57332,1840002644
28887,Watertown,46029,44.9094,-97.1532,21837.0,475,America/Chicago,57201,1840002156
28888,Buffalo,46063,45.5864,-103.5434,346,241,America/Denver,57720,1840002018

<center><h3><p style="color:#139C77";> Fichier "Etnicity"</p></h3></center>

In [377]:
df_Etnicity = pd.read_sql("SELECT * FROM [Etnicity]", cnxn)
df_Etnicity.head()

,State,Total population,White,Black,Hispanic,Asian,American Indian
0,Alabama,4874747.0,3191450.0,1302295.0,201970.0,65494.0,22209.0
1,Alaska,739795.0,448081.0,21192.0,51712.0,48569.0,105146.0
2,Arizona,7016270.0,3836639.0,290379.0,2202173.0,225810.0,274496.0
3,Arkansas,3004279.0,2173307.0,455500.0,223764.0,46583.0,16901.0
4,California,39536653.0,14616636.0,2164239.0,15477306.0,5679986.0,147880.0

In [378]:
df_Etnicity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   State             51 non-null     object
 1   Total population  51 non-null     float64
 2   White             51 non-null     float64
 3   Black             51 non-null     float64
 4   Hispanic          51 non-null     float64
 5   Asian             51 non-null     float64
 6   American Indian   51 non-null     float64
dtypes: float64(6), object(1)
memory usage: 2.9+ KB

In [386]:
df_us_cities.isnull().sum().sum()

0

In [379]:
df_Etnicity.describe()

,Total population,White,Black,Hispanic,Asian,American Indian
count,5.100000e+01,5.100000e+01,5.100000e+01,5.100000e+01,5.100000e+01,51.00000
mean,6.386651e+06,3.868337e+06,7.868548e+05,1.153846e+06,3.529382e+05,42062.00000
std,7.316763e+06,3.383811e+06,9.442646e+05,2.697838e+06,8.319291e+05,61518.15068
min,5.793150e+05,2.534160e+05,4.380000e+03,1.193200e+04,4.586000e+03,1500.00000
25%,1.766400e+06,1.327196e+06,6.427700e+04,1.526440e+05,3.810100e+04,9566.50000
50%,4.454189e+06,3.066146e+06,3.543200e+05,3.612030e+05,1.183120e+05,18335.00000
75%,7.211006e+06,5.019664e+06,1.352002e+06,9.015455e+05,3.478365e+05,43659.00000
max,3.953665e+07,1.461664e+07,3.330204e+06,1.547731e+07,5.679986e+06,288580.00000