<br>
<center><img src= "Images\Capture.PNG" width="700" height="350"></center><br><br>

<center><h4><p style="color:#FFFFFF";>**** üëÆ US POLICE SHOOTING üëÆ‚Äç ****
</p><h4></center>

<center><h3><p style="color:#139C77";>**** Importation des modules n√©cessaires ****</p></h3></center>

In [4]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

from secret import cnxn

<center><h3><p style="color:#D06AB9">**** Lecture et preview des fichiers bruts ****</p></h3></center>

<p style="color:#139C77";><u>Fichier</u> : fatal-police-shootings-data.csv</p>

<p style="color:#139C77";>Study Data</p>

<p style="color:#D06AB9";>We can already observe that there're 4 types of data</p>

<p style="color:#139C77";><u>Fichier</u> : uscities.csv</p>

<p style="color:#D06AB9";>We can already observe that there're 4 types of data</p>

<p style="color:#139C77";><u>Fichier</u> : Ethnicity Data USA.xlsx</p>

<p style="color:#D06AB9">We can already observe that there're 2 types of data</p>

<p style="color:#139C77";>Passage on SQL to realize the database and on SSIS to build the 3 tables.</p>

<center><h3><p style="color:#139C77";>**** Connexion SQL ****</p></h3></center>

<center><h3><p style="color:#139C77";> Fichier "Fatal_Police_Shooting"</p></h3></center>

<p style="color:#D06AB9">Let's display the first lines to get an overview </p>

In [22]:
df_fatal = pd.read_sql("SELECT * FROM [Fatal_Police_Shooting]", cnxn)

<p style="color:#D06AB9"> Realize a .shape() of the data frame </p>

In [23]:
df_fatal.shape

(7504, 17)

<p style="color:#D06AB9"> Realize a .info() to get a concise summary of the data frame </p>

In [24]:
df_fatal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7504 entries, 0 to 7503
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       7504 non-null   int64
 1   name                     7118 non-null   object
 2   date                     7504 non-null   object
 3   manner_of_death          7504 non-null   object
 4   armed                    7295 non-null   object
 5   age                      7057 non-null   object
 6   gender                   7485 non-null   object
 7   race                     6122 non-null   object
 8   city                     7504 non-null   object
 9   state                    7504 non-null   object
 10  signs_of_mental_illness  7504 non-null   object
 11  threat_level             7504 non-null   object
 12  flee                     6741 non-null   object
 13  body_camera              7504 non-null   object
 14  longitude                6792 non-null   object
 15  latitude                 6792 non-null   object
 16  is_geocoding_exact       7504 non-null   object
dtypes: int64(1), object(16)
memory usage: 996.8+ KB

<p style="color:#D06AB9">Let's display the first lines to get an overview </p>

In [ ]:
df_fatal.head()

In [ ]:
df_fatal.columns

<p style="color:#D06AB9">I decide to delete the column "is_geocoding_exact" and "body_camera". </p>

In [ ]:
df_fatal = df_fatal.drop(columns=["is_geocoding_exact", "body_camera"])

V√©rtifions qu'elles soient bien supprim√©es

In [ ]:
df_fatal.columns

V√©rifions la colonne date

In [ ]:
df_fatal['date'].unique()

In [ ]:
df_fatal['date'].isnull().sum()

Puis v√©rifions la colonne age

In [ ]:
df_fatal['age'].unique()

On se rend compte qu'il n'y a pas que des num√©riques, v√©rifions les nulls.

In [ ]:
df_fatal['age'].isnull().sum()

Je remplace les nulls par des 0 et je v√©rifie

In [ ]:
df_fatal['age'] = df_fatal['age'].fillna(0)
df_fatal['age'].isnull().sum()

Je v√©rifie longitude

In [ ]:
df_fatal['longitude'].unique()

In [ ]:
df_fatal['longitude'].isnull().sum()

In [ ]:
df_fatal['longitude'] = df_fatal['longitude'].fillna(0)
df_fatal['longitude'].isnull().sum()

Je v√©rifie latitude

In [ ]:
df_fatal['latitude'].unique()

In [ ]:
df_fatal['latitude'].isnull().sum()

In [ ]:
df_fatal['latitude'] = df_fatal['latitude'].fillna(0)
df_fatal['latitude'].isnull().sum()

<p style="color:#D06AB9"> Replacement of nulls by "indeterminate" for the other columns.</p>

Colonne name

In [ ]:
df_fatal['name'].isnull().sum()

In [ ]:
df_fatal['name'] = df_fatal['name'].replace(np.nan, "undetermined")
df_fatal['name'].isnull().sum()

Colonne manner of death

In [ ]:
df_fatal['manner_of_death'].isnull().sum()

Colonne armed

In [ ]:
df_fatal['armed'].isnull().sum()

In [ ]:
df_fatal['armed'] = df_fatal['armed'].replace(np.nan, "undetermined")
df_fatal['armed'].isnull().sum()

Colonne gender

In [ ]:
df_fatal['gender'].unique()

In [ ]:
df_fatal['gender'].isnull().sum()

In [ ]:
df_fatal['gender'] = df_fatal['gender'].replace(np.nan, "undetermined")
df_fatal['gender'].isnull().sum()

Colonne race

In [ ]:
df_fatal['race'].unique()

In [ ]:
df_fatal['race'].isnull().sum()

In [ ]:
df_fatal['race'] = df_fatal['race'].replace('None', "undetermined")
df_fatal['race'] = df_fatal['race'].replace('N', "undetermined")
df_fatal['race'] = df_fatal['race'].replace('O', "undetermined")
df_fatal['race'].isnull().sum()

Colonne city

In [ ]:
df_fatal['city'].isnull().sum()

Colonne state

In [ ]:
df_fatal['state'].isnull().sum()

Colonne signs of menta illness

In [ ]:
df_fatal['signs_of_mental_illness'].isnull().sum()

Colonne threat level

In [ ]:
df_fatal['threat_level'].isnull().sum()

Colonne flee

In [ ]:
df_fatal['flee'].isnull().sum()

In [ ]:
df_fatal['flee'] = df_fatal['flee'].replace(np.nan, "undetermined")
df_fatal['flee'].isnull().sum()

<center><h3><p style="color:#139C77";> Fichier "us_cities"</p></h3></center>

In [5]:
df_us_cities = pd.read_sql("SELECT * FROM [us_cities]", cnxn)
df_us_cities.head()

,city,city_ascii,state_id,state_name,county_fips,county_name,county_fips_all,county_name_all,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,South Creek,South Creek,WA,Washington,53053,Pierce,53053,Pierce,46.9994,-122.3921,2500,125,polygon,FALSE,TRUE,America/Los_Angeles,3,98580 98387 98338,1840042075
1,Roslyn,Roslyn,WA,Washington,53037,Kittitas,53037,Kittitas,47.2507,-121.0989,947,84,polygon,FALSE,TRUE,America/Los_Angeles,3,98941 98068 98925,1840019842
2,Sprague,Sprague,WA,Washington,53043,Lincoln,53043,Lincoln,47.3048,-117.9713,441,163,polygon,FALSE,TRUE,America/Los_Angeles,3,99032,1840021107
3,Gig Harbor,Gig Harbor,WA,Washington,53053,Pierce,53053,Pierce,47.3352,-122.5968,9507,622,polygon,FALSE,TRUE,America/Los_Angeles,3,98332 98335,1840019855
4,Lake Cassidy,Lake Cassidy,WA,Washington,53061,Snohomish,53061,Snohomish,48.0639,-122.0920,3591,131,polygon,FALSE,TRUE,America/Los_Angeles,3,98223 98258 98270,1840041959

In [6]:
df_us_cities.columns

Index(['city', 'city_ascii', 'state_id', 'state_name', 'county_fips',
       'county_name', 'county_fips_all', 'county_name_all', 'lat', 'lng',
       'population', 'density', 'source', 'military', 'incorporated',
       'timezone', 'ranking', 'zips', 'id'],
      dtype='object')

In [ ]:
df_us_cities.info()

In [ ]:
df_us_cities.isnull().sum().sum()

In [ ]:
df_us_cities['zips'] = df_us_cities['zips'].fillna(0)
df_us_cities.isnull().sum().sum()

In [20]:
# state  = {
#     "Alabama": "AL",
#     "Alaska": "AK",
#     "Arizona": "AZ",
#     "Arkansas": "AR",
#     "California": "CA",
#     "Colorado": "CO",
#     "Connecticut": "CT",
#     "Delaware": "DE",
#     "Florida": "FL",
#     "Georgia": "GA",
#     "Hawaii": "HI",
#     "Idaho": "ID",
#     "Illinois": "IL",
#     "Indiana": "IN",
#     "Iowa": "IA",
#     "Kansas": "KS",
#     "Kentucky": "KY",
#     "Louisiana": "LA",
#     "Maine": "ME",
#     "Maryland": "MD",
#     "Massachusetts": "MA",
#     "Michigan": "MI",
#     "Minnesota": "MN",
#     "Mississippi": "MS",
#     "Missouri": "MO",
#     "Montana": "MT",
#     "Nebraska": "NE",
#     "Nevada": "NV",
#     "New Hampshire": "NH",
#     "New Jersey": "NJ",
#     "New Mexico": "NM",
#     "New York": "NY",
#     "North Carolina": "NC",
#     "North Dakota": "ND",
#     "Ohio": "OH",
#     "Oklahoma": "OK",
#     "Oregon": "OR",
#     "Pennsylvania": "PA",
#     "Rhode Island": "RI",
#     "South Carolina": "SC",
#     "South Dakota": "SD",
#     "Tennessee": "TN",
#     "Texas": "TX",
#     "Utah": "UT",
#     "Vermont": "VT",
#     "Virginia": "VA",
#     "Washington": "WA",
#     "West Virginia": "WV",
#     "Wisconsin": "WI",
#     "Wyoming": "WY",
#     "District of Columbia": "DC",
#     "American Samoa": "AS",
#     "Guam": "GU",
#     "Northern Mariana Islands": "MP",
#     "Puerto Rico": "PR",
#     "United States Minor Outlying Islands": "UM",
#     "U.S. Virgin Islands": "VI",
# }

In [21]:
# df_us_cities['state_name'] = df_us_cities['state_name'].replace('state_name', state)
# df_us_cities['state_name'].head()

In [ ]:
df_us_cities = df_us_cities.drop(columns=["military", "timezone", "incorporated", "source", "ranking", "city_ascii", "county_name_all", "county_fips_all"])

In [7]:
df_us_cities.head()

,city,city_ascii,state_id,state_name,county_fips,county_name,county_fips_all,county_name_all,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,South Creek,South Creek,WA,Washington,53053,Pierce,53053,Pierce,46.9994,-122.3921,2500,125,polygon,FALSE,TRUE,America/Los_Angeles,3,98580 98387 98338,1840042075
1,Roslyn,Roslyn,WA,Washington,53037,Kittitas,53037,Kittitas,47.2507,-121.0989,947,84,polygon,FALSE,TRUE,America/Los_Angeles,3,98941 98068 98925,1840019842
2,Sprague,Sprague,WA,Washington,53043,Lincoln,53043,Lincoln,47.3048,-117.9713,441,163,polygon,FALSE,TRUE,America/Los_Angeles,3,99032,1840021107
3,Gig Harbor,Gig Harbor,WA,Washington,53053,Pierce,53053,Pierce,47.3352,-122.5968,9507,622,polygon,FALSE,TRUE,America/Los_Angeles,3,98332 98335,1840019855
4,Lake Cassidy,Lake Cassidy,WA,Washington,53061,Snohomish,53061,Snohomish,48.0639,-122.0920,3591,131,polygon,FALSE,TRUE,America/Los_Angeles,3,98223 98258 98270,1840041959

<center><h3><p style="color:#139C77";> Fichier "Etnicity"</p></h3></center>

In [12]:
df_Etnicity = pd.read_sql("SELECT * FROM [Etnicity]", cnxn)
df_Etnicity.head()

,State,Total population,White,Black,Hispanic,Asian,American Indian,id
0,Alabama,4874747.0,3191450.0,1302295.0,201970.0,65494.0,22209.0,None
1,Alaska,739795.0,448081.0,21192.0,51712.0,48569.0,105146.0,None
2,Arizona,7016270.0,3836639.0,290379.0,2202173.0,225810.0,274496.0,None
3,Arkansas,3004279.0,2173307.0,455500.0,223764.0,46583.0,16901.0,None
4,California,39536653.0,14616636.0,2164239.0,15477306.0,5679986.0,147880.0,None

In [13]:
df_Etnicity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   State             51 non-null     object
 1   Total population  51 non-null     float64
 2   White             51 non-null     float64
 3   Black             51 non-null     float64
 4   Hispanic          51 non-null     float64
 5   Asian             51 non-null     float64
 6   American Indian   51 non-null     float64
 7   id                0 non-null      object
dtypes: float64(6), object(2)
memory usage: 3.3+ KB

In [14]:
df_Etnicity.isnull().sum().sum()

51

Lors de la construction des tables sur SQL pour transf√©rer la base de donn√©es dans le data warehouse, j'auto-incr√©menterais la colonne id

In [ ]:

from secret import cndw

df_fatal.to_sql("df_fatal", cndw , schema=None, if_exists='replace', index=True, index_label= None, chunksize = None , dtype = None , method = None)
df_us_cities.to_sql("df_us_cities", cndw , schema=None, if_exists='replace', index=True, index_label= None, chunksize = None , dtype = None , method = None)
df_Etnicity.to_sql("df_Etnicity", cndw , schema=None, if_exists='replace', index=True, index_label= None, chunksize = None , dtype = None , method = None)